<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Cursos2ee</display-name>
    <servlet>
        <servlet-name>simple</servlet-name>
        <servlet-class>
            com.cursos2ee.web.SimpleServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simple</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>escribe</servlet-name>
        <servlet-class>
            com.cursos2ee.web.SimpleConnectorWriteServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>escribe</servlet-name>
        <url-pattern>/escribe</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lee</servlet-name>
        <servlet-class>
            com.cursos2ee.web.SimpleConnectorReadServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lee</servlet-name>
        <url-pattern>/lee</url-pattern>
    </servlet-mapping>
</web-app>
